<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NGOs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <style>

.content{
    padding: 62px;
    background-color: rgb(110, 211, 236);
}

    </style>

</head>
<body>
    
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="position: static;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" >Groome India:)</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"  >
          <li class="nav-item" >
            <a class="nav-link active" aria-current="page" href="/HomePage">Home</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="/NGOs">NGO's</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="/ourworks">OUR WORKS</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="/user/contactUus">Contact Us</a>
          </li>        
        
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

<div class="content">
  
    <h1>Here are the details of NGOs</h1>
    
    <font>
        The non governmental organisations play a very crucial role in the promotion of Swachh Bharat Abhiyan. They work in direct contact with the local people. Keeping the city clean is everyone’s duty and to ensure that people are made aware of this civic duty the NGOs play a very crucial role. 
    In ensuring the success of this cleanliness mission the NGOs play their part in the following ways:-
    </font>
    <ul>
        <li>📍NGOs take up the task of educating the local mass making them aware of the need to keep their surrounding clean.</li>
        <li>  📍NGOs also play a crucial role in providing toilets to the rural areas and the slum where there is a lack of proper sanitation facilities.</li>
        <li>📍Ngos could also adopt certain villages or areas in requirement of proper sanitation facilities and carry on the cleanliness drive in those areas. </li>
        <li>📍NGOs could also work closely with the municipality to execute a daily cleaning plan in a certain area.</li>
        <li>📍Many NGOs even visit schools to teach the children the importance of cleanliness.</li>
        <li>📍NGOs can also facilitate workshops on how to recycle and reuse non biodegradable wastes into livelihood programs.</li>
        <li>📍Many a times NGOs are authorized to collect money from houses and use it to arrange for segregation and separation of waste.</li>
        <li>📍Certain NGOs from time to time conduct research on specific areas to specifically dispose waters, improved toilets, improved composting processes and many more.</li>     
        <li>📍Many a times certain NGOs are given access to the Swachh Bharat city local circles to share community initiatives with the citizens and mobilize them to lend their helping hand whenever required.</li>
        <li>📍NGOs often take up the task to set up waste management systems and monitor the same.</li>
   
    </ul>

<font> Now, first NGO which is helping to spreading awareness among public is:---</font>
<h3>1.. Shiddhi</h3>
<p>This NGO has many distinct areas that it functions in. This organisation is a non-profit that works in education, wildlife, healthcare, environment, disaster relief, and water. They recently in collaboration with Barclays, conducted a cleanliness drive over the Yamuna River. They have also conducted many cleanliness drives along the beaches in Mumbai. Over 1043 cleanliness drives have been conducted by this wonderful organisation, they did this with over 217 volunteers and you can be one of them. Their aim is to create a cleaner, safer and better environment for the coming generations. There are varied projects and you can volunteer for the same by selecting them on their website.</p><br>
<p>Contact them at 022-71574415</p><br>

<h4>About Shuddhi</h4>
<p>SHUDDHI is a registered Non-Profit Organisation (NGO), working globally to improve Environment and Human Well-Being together with Partners and Local Communities.</p><br>
<font>
    "SHUDDHI NGO" support the following CAUSE's:
</font>
<ul>
    <li>- Free Waste Management Services (Collection and Recycling of Waste in India).</li>
    <li>- Drinking Water Supply and Water Augmentation Networking  in Villages and Towns.</li>
    <li>- Free Internet Public-Wifi Hotspots to bring people online.</li>
    <li>- Child Education and Environment Protection.</li>
    <li>- Free Legal Consultancy & Women Empowerment.</li>
</ul>

<p>Website: http://www.shuddhi.org</p><br>
<p>Industries: Nonprofit Organization Management</p>
<p> Company size : 1001-5000 employees</p>
<p>Headquarters: New Delhi, Delhi</p>
<p>Type: Nonprofit</p>
<p>Founded: 2014</p>
<p>Specialties: Environment Conservation, Sanitation and Hygiene, Women Empowerment, Child Education, Water and Food Security, Free Wifi Internet, Waste Management, and Save a Girl Child</p>
<p>Locations :
    Primary
    SHUDDH NGO, 512A, 5th Floor, Indra Prakash Building
    
    Barakhamba Road, Connaught Place,
    
    New Delhi, Delhi 110001, IN
    
    [08:09, 01/05/2021] +91 6393 077 223:</p>

<h3>2.. Shashi foundation:-</h3>

<font>Cleanliness is a natural and human choice, universally. Given a choice and the power to decide, people always prefer CLEAN and good environment. No illiterate or poor person will ever prefer a dirty piece of cloth over a clean piece while purchasing it by paying the same amount.
    
    But when offered a lower price for the dirty cloth, he/she can purchase it for saving his /her hard earned money. The choice for the dirty cloth, in the second situation, is reflecting the development deficit and not a cultural deficit.
    
    The deficits need to be removed by the elites and the urbanites first because they structure the development goals. Often, we talk about 'corporate social responsibility'. We also talk about government's responsibility. We seldom talk about 'individual's social responsibility' or 'intellectual's social responsibility'. Let's consider it our individual responsibility to make our home, our city and our country clean.
    </font>
    <h4>Contact Information</h4>
    <p>Head Office - 3c/405,Budhi Vihar,moradabad(U.P.) India</p><br>
    <p>Regional Office-V-87,Nehru Enclave ,Gomti Nagar, Lucknow (U.P.) India</p><br>
    <p>Contact no. - +91- 9412636628, 08449788766, 0522-2307159 , 0591-2484566
        info@shashifoundation.org
        [08:10, 01/05/2021] +91 6393 077 223:</p><br><br>


 <h3>3..Aahwahan:-</h3>
<font>The Aahawan foundation works as a non-governmental organisation aiming to preserve beaches. They consist of a group of volunteer’s ad coastal management experts who work day and night to ensure that the beaches are free from plastic and other garbage. They have cleaned many beaches including, Karvar & Murudeshwar Gokarna, Ganpatipule, Palolem Baga, Anjuna, and Guhagar. This organisation also uses recent up to date technology such as beach cleaning machines, waste disposal bags, using rubber gloves, cameras, sand sifting machines along with protective gear for volunteers including gloves, insect repellents, and hats. If you wish to take ownership of your cities’ beaches and make them the as beautiful as they were before we ruined them contact Aahwahan now. You can join hands with them if you wish to make a change in the environment around you.</font><br><br>
<p> Contact Datail: 
    Building No-40, 4th Floor, 9th Block Jayanagr, Bangalore-69
    9113018004 / 7795065657info@aahwahan.com</p><br>

<h3>4.. SATO</h3>
 <font>One in three people in the world still lacks access to safe sanitation. These people in countless communities, who rely on open pit latrines or empty fields to relieve themselves, are exposed to infectious diseases, insects, and terrible odors every day.
    Lack of toilets in many areas leads a staggering 892 million people worldwide to relieve themselves outside (also known as “open defecation”). This contaminates water sources and exposes women and children to the risk of violence and harassment.
    Every day, an estimated 800 children under 5 years of age die from diarrheal diseases because of these preventable causes.
    SATO aims to solve these problems by providing affordable and easy-to-install toilet systems to local communities around the world. These products are safe for children and eliminate many of the causes of preventable diseases.
    The ground-breaking product line has won a number of prestigious awards, including the Red Dot Design Award and the Deputy-Chief’s Award from the Japan SDG Awards.
    LIXIL developed the first product in the SATO series—the blue plastic toilet pan placed directly over a single pit—with funding from the Bill and Melinda Gates Foundation. The toilet pan was launched in Bangladesh in 2013.
    SATO toilet pans feature an automatically-closing trap door that blocks odors and insects. A small amount of water (0.2 to 1 liter) opens the trap door to eliminate waste, which shuts itself tightly after use.
    In 2017, a model called the SATO V-trap Connection System was developed for the Indian market. Each SATO product is designed to meet the unique needs of the local market it serves.
    Today, more than 4.3 million SATO units have been shipped in countries around the world, effectively improving sanitation for over 21 million people*.SATO products have been shipped to over 38 countries, including Bangladesh, India, Kenya, and Uganda</font><br>
    
    <p>     Email -
        https://www.sato.lixil.com/stories/sato-partners-with-ngos-to-bring-toilets-to-rural-india
     </p><br>

<h3>5..RUCHI</h3>

<font>RUCHI is a non-political, non-profit organisation committed to the development of rural India. RUCHI began in October 1980 in a remote village in Chopal in the Shimla District. It was registered under The Societies Registration Act of 1860 in 1983, and its headquarters are now located at Bandh, a small village in the Himalayan foothills of Himachal Pradesh State, Northern India. RUCHI is now working in over 100 villages in the steep mountainous terrain of the Sirmour and Solan districts.
    RUCHI is partnered with international non-government organisations (NGO’s), such as RNZWCS in New Zealand, Rotary International, Charities Aid Foundation, HelpAge International, U.K., MISEREOR in Germany and CCIVS in France.
    The major focus areas for RUCHI are:</font><br>

    <ul>
        <li>Sustainable management of natural resources</li>
        <li>Promotion of rural technologies</li>
        <li>Health care</li>
        <li>Education and awareness generation</li>
        <li>Micro-credit for village projects</li>
    </ul>
<p>Contact:Bandh, Bhaguri – 173233 </p><br>
<p>Distt. Solan, Himachal Pradesh,INDIA</p><br>
 <p>Phone:  +91 7560078500 (9AM to 5.30PM during week days)</p><br>
<p>Mobile: +91 9805347557 (contact Mahip Dagar)</p><br>
<p>Mobile: +91 9418739500 (Emergency contact Dharamvir Singh)</p><br>
<p>Email: info@ruchi.org.in, virjids@ruchi.org.in</p><br>
<h3>6.. JOIN HAND FOUNDATION </h3>
<font>OIN HANDS FOUNDATION is a Non-Profit Organization, founded in October 2019 based in Gurgaon in Haryana (India). JOIN HANDS FOUNDATION believes that unless an individual and community is involved actively in the process of development, we cannot bring the change in any society or country. Join Hands Foundation is trying to aware people about Cleanliness through drives and also trying to help poors and underprivileged children. Our father of nation- Mahatma Gandhi had a vision of clean India. So- to fulfil the dream of Mahatma Gandhi- we have started to clean the dirt and making our city & our country clean through Swachh Bharat Abhiyan a mass movement across the nation. We have initiated the cleanliness drive in Gurgaon to make people aware of clean & safe environment and a cleanliness our habit.
    
    
    
    
    THE AIMS OF JOIN HANDS FOUNDATION are as follows:</font><br>
    <ul>
        <li>To spread awareness of CLEANLINESS & SWACHH BHARAT ABHIYAN (Clean India Mission).</li>
        <li>To spread awareness of DONATING BLOOD.</li>
        <li>To spread awareness of RESPECTING GIRLS, WOMEN & SENIOR CITIZENS.</li>
        <li>To encourage Girls & Women towards SELF DEFENCE.</li>
        <li> To spread awareness of Not using POLYTHENE and Not BURNING PLASTIC.</li>
        <li>To spread awareness of SAVING WATER.</li>
        <li>To spread awareness of PLANTING MORE TREES to save our Earth.</li>
        <li>To spread awareness of TRAFFIC RULES, in order to save them from accidents</li>
        <li>To help POOR through FOOD and FREE DUECATION.</li>
        <li>To work for promotion of sports and health care activities.</li>
        <li> To promote Education for all children in rural & urban areas.</li>
        <li>To work for the cause of enforcement of prohibition and initiate people’s movement against smoking, alcoholism and drug abuse.</li>
        <li>To create awareness and addressing some of the social evils, such as, female feticide, dowry, extravagant expenditure on social functions like marriages, empowerment of women in decision making etc.</li>
    </ul>
    <p> Call Us</p><br>
    <p>Phone: +91 9871808177</p><br>
    <p>Address:
        A-14, Golden Arcade, Sector 67, Gurugram (Haryana), India</p><br>
<p> Email: 
    info@joinhandsfoundation.com</p><br>


    <h3>7..ENVIROMENTALIST FOUNDATION OF INDIA</h3>
 <font>Lakes and ponds often bear the brunt of modern day human negligence. Most of India’s freshwater bodies are polluted/contaminated due to human activity. E.F.I focuses on scientific revival of these freshwater bodies through a community based collaborative conservation effort. We volunteer for India & her Environment.
    E.F.I works out of 14 Indian states of Andhra Pradesh, Chhattisgarh, Delhi, Gujarat, Jammu & Kashmir, Karnataka, Kerala, Madhya Pradesh, Maharashtra, Odisha, Puducherry, Rajasthan, Tamil Nadu and Telangana. Covering prominent cities such as Delhi, Mumbai, Kolkata, Chennai, Bangalore, Hyderabad, Pune, Kochi etc… and several villages in these states.
   </font><br>
<p>Email -arun@indiaenvironment.org</p><br>
<p>Phone number - +91 9940203871</p><br>
<p>Website - https://indiaenvironment.org/</p><br>

<h3>8.. Project Mumbai</h3>
<font> Project Mumbai is a Mumbai-based NGO identifying challenges faced by Mumbaikars and working towards solving them. Among several other initiatives, through the “Jallosh-Clean Coasts” campaign, Project Mumbai managed to collect 16,000 kg waste from nine beach fronts, two mangrove forests, and two rivers. They invite volunteers who would like to invest time in improving the quality of life for Mumbaikars. They also welcome donations from individuals and corporates.</font><br>
<p> Website: https://projectmumbai.org/</p><br>
<p>Contact: 9653330712</p><br>
<p>    Mail id : info@projectmumbai.org</p><br>
<h3>9..Earthlings</h3>
<font>
    Recognizing the need to promote greenery, remodel the city for a good environment, and make the cities as well as shores cleaner and greener, Earthlings came to life in 2016. To date, they have conducted several activities ranging from beach cleaning, tree plantation, marathons, and awareness camps. From fixing stained street walls to clearing mounds of trash, as much as 15,000 kgs from Hyderabad, Earthlings operates on the belief that nature is a treasure that needs to be preserved by taking small steps together. You too can volunteer with them by contacting them through their website or social media handles. 
   
</font><br>
<p>Website: https://www.earthlingsngo.com/</p><br>
<p> Contact: 8977780989</p><br>
<p>Mail id - info@mysite.com</p><br>
</div>
















    <footer style="font-size: 12px;">web aap created by @Groome India pvt ltd . all copyright reserverd 2021,, Web aap developer credits: Pulkit Upadhyay</footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>