* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'gilroy';
}
html,
body {
  height: 100%;
  width: 100%;
}
nav {
  position: fixed;
  z-index: 2;
  height: 10vh;
  width: 100vw;
  border-bottom: 1px solid #636363;
  display: flex;
  /* background-color: red; */
}
nav .options {
  height: 100%;
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  padding-left: 3vw;
  color: #fff;
  font-size: 1vw;
  position: relative;
}
nav .options .cover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  display: flex;
  align-items: center;
  padding-left: 3vw;
  color: #fff;
  font-size: 0.9vw;
  font-weight: 500;
  backdrop-filter: blur(5px);
  background-color: rgba(64, 63, 63, 0.507);
}
nav .options #cover1 {
  background-color: #fff;
  height: 3px;
  color: #000;
}
nav .options .cover span {
  opacity: 0;
  font-size: 200%;
  font-family: 'Gilroy';
  pointer-events: none;
}
#nav2 {
  top: 10vh;
  border-bottom: none;
}
#nav2 .options {
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 5vw;
}
#nav2 .options a {
  text-decoration: none;
  color: #fff;
}
#section {
  display: flex;
  align-items: end;
  width: 100wh;
  height: 100vh;
  /* background-color: rgb(220, 132, 132); */
}
#left {
  position: relative;
  width: 40%;
  height: 90vh;
  /* background-color: rgb(96, 220, 179); */
}
#bigbox {
  position: absolute;
  /* top: 10%; */
  right: 0%;
  width: 70%;
  height: 100%;
  background-color: rgb(86, 57, 173);
}
.imgbox {
  position: absolute;
  gap: 1px;
  bottom: 0%;
  left: 16px;
  width: 25%;
  height: 100px;
  background-color: #000;
}
#sml1 {
  bottom: 303px;
}
#sml2 {
  bottom: 202px;
}
#sml3 {
  bottom: 101px;
}

#right {
  position: relative;
  width: 60%;
  height: 90vh;
  /* background-color: rgb(226, 217, 83); */
}
#right h1 {
  position: absolute;
  top: 15%;
  left: 50px;
  font-size: 50px;
  font-weight: 800;
  font-family: 'Gilroy';
}
#right h2 {
  position: absolute;
  top: 25%;
  left: 50px;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Gilroy';
}
.sizebox {
  position: absolute;
  gap: 50px;
  top: 30%;
  left: 50px;
  width: 150px;
  height: 70px;
  border: 3px #000 solid;
}
#s2 {
  left: 202px;
}
#s3 {
  left: 354px;
}
#right h3 {
  position: absolute;
  bottom: 180px;
  left: 30px;
}
.otherImg {
  position: absolute;
  bottom: 20px;
  left: 30px;
  width: 200px;
  height: 150px;
  background-color: rgb(72, 219, 170);
  transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.otherImg:hover {
  width: 215px;
  height: 160px;
}
#i2 {
  left: 245px;
}
#i3 {
  left: 465px;
}
#i4 {
  left: 685px;
}
button {
  background-color: black;
  color: white;
  font-family: arial;
  font-size: 15px;
  font-weight: 400;
  color: white;
  padding: 13px 49px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}
.buttons {
  position: absolute;
  top: 50%;
  left: 100px;
  gap: 100px;
  width: 86%;
}
svg {
  cursor: pointer;
}

h1 {
  font-size: 20px;
}
ul {
  margin: 0px;
  padding: 0px;
}
ul li {
  display: inline-block;
  cursor: pointer;
  width: 100px;
  height: 100px;
}
ul li img {
  width: 100%;
  height: 100%;
}
#show_image_popup {
  width: 100%;
  height: 100%;
  border: 1px solid #333;
  box-sizing: border-box;
  padding: 5px;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #e5e5e5;
  /*    */
  display: none;
}
#show_image_popup img {
  max-width: 90%;
  height: auto;
}

#all-images .active {
  filter: blur(5px);
}
.close-btn-area {
  width: 100%;
  text-align: right;
  margin-bottom: 5px;
}
.close-btn-area button {
  cursor: pointer;
}
