
@font-face {
  font-family: Gilroy;
  src: url(/samarkan/Gilroy-Medium.ttf);
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
font-family: Gilroy;
}

#main{
position: relative;
display: flex;
justify-content: center;
align-items: center;
gap: 2vw;
width: 100%;
height: 100%;
/* background-color: #e21717; */
}
<<<<<<< HEAD

.upbox{
position: relative;
=======
/* -------------left--------------------- */
#left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  width: 23vw;
  height: 90vh;
  /* background-color: #3498db; */
}
#right{
  width: 60vw;
  height: 90vh;
  background-color: #ffffff;
  }
#left #upbox{
/* position: relative; */
>>>>>>> 32a2df23476f853f67722d6176fba7d1e6ae1278
display: flex;
align-items: center;
/* position: absolute; */
/* top: 3vh; */
/* left: 8vw; */
width: 100%;
height: 10vh;
/* background-color: #ba0909; */
}
.imgbox{
width: 6vh;
height: 6vh;
background-color: rgb(231, 226, 118);
border-radius: 50%;
margin-left: 30px;
}
.imgbox img{
width: 6vh;
height: 6vh;
background-color: rgb(231, 226, 118);
border-radius: 50%;
/* margin-left: 30px; */
}


.upbox>h3{
font-size: 30px;
margin-left: 15px;
}
<<<<<<< HEAD
.midbox{
position: relative;
position: absolute;
top: 17vh;
left: 8vw;
width: 23vw;
height: 75vh;
background-color: #fff;
=======

/*  -------------------------------midbox----------------- */
#left #midbox{
/* position: relative; */
/* position: absolute;   */
/* top: 17vh; */
/* left: 8vw; */
width: 100%;
height: 70vh;
/* background-color: #026700; */
>>>>>>> 32a2df23476f853f67722d6176fba7d1e6ae1278
font-family: Gilroy;
}
.order {
display: flex;
align-items: start;
padding-left: 2vw;
width: 23vw;
margin-top: 1px;
/* background-color: white; */
height: 6vh;
/* margin-top: -34px; */
border-bottom: 2px solid #dadada;
}
.ri-arrow-up-circle-fill{
font-size: 27px;
/* margin-left: 20px; */

}
.ri-skip-right-line{
font-size: 20px;
/* margin-left: 90px; */
}
.order>h3{
font-size: 18px;
/* margin-left: 12px; */
font-family: "Gilroy";
font-weight: 500;

}
.account{
  padding-left: 2vw;
position: relative;
 /* position: absolute; */
 width: 100%;
 height: 30%;
 font-family: "Gilroy";
 border-bottom: 2px solid #dadada;
 /* background-color: aqua; */
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: start;
 gap: 2vh;
}
.account>h3{
 /* position: absolute; */
 /* top: 5%; */
 /* left: 15%; */
 font-family: "Gilroy";
 font-weight: 500;
}

.a{
/* margin-top: 15%; */
/* margin-left: 15%; */
font-family: "Gilroy";
font-weight: 500;
}

.c{
/* margin-top: 6%; */
/* margin-left: 15%; */
font-family: "Gilroy";
font-weight: 500;
}
.addnewproduct{

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6vh;
  /* background-color: #3498db; */
}
.addnewproduct>a{
  padding: .3vw;
  border: 1px solid black;
  text-decoration: none;
  font-size: 1.3vw;
}

.payment{
padding-left: 2vw;
/* position: relative; */
/* position: absolute; */
/* top: 33%; */
width: 100%;
height: 30%;
font-family: "Gilroy";
/* background-color: rgb(107, 42, 213); */
border-bottom: 2px solid #dadada;
display: flex;
flex-direction: column;
justify-content: center;
align-items: start;
gap: 2vh;
}
.rap{
display: flex;
<<<<<<< HEAD
=======
gap: 3vw;
>>>>>>> 32a2df23476f853f67722d6176fba7d1e6ae1278
}
.ri-bank-card-fill{
/* position: absolute; */
font-size: 20px;
/* top: 10%; */
/* margin-left: 210px; */
}

#rap>h3{
font-family: "Gilroy";
font-weight: 400;
}

.m{
font-family: "Gilroy";
font-weight: 500;
}

.n{
font-family: "Gilroy";
font-weight: 500;
}

.o{
font-family: "Gilroy";
font-weight: 500;
}

<<<<<<< HEAD
.others{
position: absolute;
bottom: 5%;
=======
#others{
  padding-left: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.5vh;
/* position: absolute; */
/* bottom: 5%; */
>>>>>>> 32a2df23476f853f67722d6176fba7d1e6ae1278
width: 100%;
height: 30%;


    /* background-color: aqua; */
}
<<<<<<< HEAD
.others>h3{
position: absolute;
top: 5%;
left: 15%;
=======
#others>h3{
/* position: absolute; */
/* top: 5%; */
/* left: 15%; */
>>>>>>> 32a2df23476f853f67722d6176fba7d1e6ae1278
font-family: "Gilroy";
font-weight: 500;
}
.w{
/* margin-top: 12%; */
/* margin-left: 15%; */
font-family: "Gilroy";
font-weight: 500;
}
.x{
/* margin-top: 4%; */
/* margin-left: 15%; */
font-family: "Gilroy";
font-weight: 500;
}
.y{
/* margin-top: 4%; */
/* margin-left: 15%; */
font-family: "Gilroy";
font-weight: 500;
}
.z{
/* margin-top: 4%; */
/* margin-left: 15%; */
font-family: "Gilroy";
font-weight: 500;
}

/* --------------------------bottombox--------------------- */

<<<<<<< HEAD

.bottombox{
=======
#left #bottombox{
>>>>>>> 32a2df23476f853f67722d6176fba7d1e6ae1278
display: flex;
align-items: center;
/* position: absolute; */
/* bottom: 1vh; */
/* left: 8vw; */
width: 23vw;
height: 6vh;
/* background-color: #ec0a0a; */
}
.ri-logout-circle-line{
font-size: 27px;
margin-left: 20px;

}
.bottombox>h3{
font-size: 18px;
margin-left: 12px;
font-family: "Gilroy";
font-weight: 500;

}
<<<<<<< HEAD
.right{
position: absolute;
bottom: 7vh;
right: 8vw;
width: 60vw;
height: 90vh;
background-color: #fff;
}
=======

>>>>>>> 32a2df23476f853f67722d6176fba7d1e6ae1278



/* this is neewww  */

/* Container styles */
.form-container {
  width: 800px;
  margin: 40px auto;
  /* padding-top: 12px; */
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.form-left {
  flex: 1;
  margin-right: 20px;
  display: grid;
  grid-gap: 10px;
}
 /* Right part styles */
 .form-right {
  flex: 1;
  display: grid;
  grid-gap: 10px;
}

/* Heading styles */
.form-container h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
 /* Label styles */
 .form-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}


/* Input styles */
.form-container input[type="text"],
.form-container input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Submit button styles */
.form-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.form-container input[type="submit"]:hover {
  background-color: #45a049;
}

/* Animation styles */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-container {
  animation: slideIn 0.5s ease;
}


/* css for editbtn */
/* Button styles */
.editbtn {
  position: absolute;
  top: 40px;
  right: 0px;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.editbtn:hover {
  background-color: #2980b9;
}

.editbtn:active {
  background-color: #1f618d;
}

/* Animation styles */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.editbtn {
  animation: slideIn 0.5s ease;
}


/* for logout btn */
.logoutbtn {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 7px 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 19px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}

.logoutbtn:hover {
  background-color: #e53935;
}

.logoutbtn:active {
  background-color: #c62828;
}

/* Animation styles */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.logoutbtn h3 {
  margin: 0;
  animation: pulse 2s infinite ease-in-out;
}

/* for profile image00 */
   /* Parent container styles */
   .parent-container {
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  border-radius: 50%;
  overflow: hidden;
}

/* Profile image styles */
.profileimg {
position: absolute;
bottom: 16%;
left: 50%;
transform: translateX(-50%) translateY(50%);
width: 180px;
height: 180px;
border: 3px solid #000;
border-radius: 50%;
align-self: baseline;
object-fit: cover;
object-position: center bottom;
transition: transform 0.3s ease;
}

.profileimg:hover {
  transform: translateX(-50%) translateY(50%) scale(1.1);
}
input::placeholder {
  font-weight: bold;
  color:black;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  padding-left: 5px;
}

input:focus::placeholder {
  opacity: 0.5;
}


/* profile css here */


/* profile css ends here  */
