<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/3.css">
</head>
<body>
    <nav>
        <div class="options" id="option1">
               KASMIRE KARPAT
            <div class="cover" id="cover1"><span>Kasmire Karpat</span></div>
        </div>
        <div class="options">
            <div class="cover"><span>Grid</span></div>
        </div>
        <div class="options">
            <div class="cover"><span>List</span></div>
        </div>
    </nav>
    <nav id="nav2">
        <div class="options"></div>
        <div class="options"></div>
        <div class="options">
            <a href="#">Work</a><a href="#">Studio</a><a href="#">Instagram</a>
        </div>
    </nav>
  
    <div id="section">
        <div id="left">
            <div id="bigbox">
                <img src="" alt="">
                <div id="show_image_popup">
                    <div class="close-btn-area">
                        <button id="close-btn">X</button> 
                    
                    </div>
                    <div id="image-show-area">
                      <img id="large-image" src="" alt="">
                    </div>
           </div>
            </div>
            <div id="sml1" class="imgbox"></div>
            <div id="sml2" class="imgbox"></div>
            <div id="sml3" class="imgbox"></div>
            <div id="sml4" class="imgbox"></div>
            
           
    

        </div>
        <div id="right">
            <h1>Product Name</h1>
            <h2>Size</h2>
            <div id="s1" class="sizebox">    ready to Ship   <p>4x6 ft</p>   120x180 cm</div>
            <div id="s2" class="sizebox">  ready to ship   <p>4x6 ft</p>   120x180 cm   </div>
            <div id="s3" class="sizebox">   Made to order  <p>5x8 ft</p>   120x180 cm    </div>
   
            <h3>More From This Collection</h3>
            <div id="i1" class="otherImg"></div>
            <div id="i2" class="otherImg"></div>
             <div id="i3" class="otherImg"></div>
             <div id="i4" class="otherImg"></div>
             <!-- <div id="i5" class="otherImg"></div> -->

             <div class="buttons">
                <svg width="42" id="fav" onclick ="favorite()" height="40" stroke="black"  viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.87187 9.59832C0.798865 6.24832 2.05287 2.41932 5.56987 1.28632C7.41987 0.689322 9.46187 1.04132 10.9999 2.19832C12.4549 1.07332 14.5719 0.693322 16.4199 1.28632C19.9369 2.41932 21.1989 6.24832 20.1269 9.59832C18.4569 14.9083 10.9999 18.9983 10.9999 18.9983C10.9999 18.9983 3.59787 14.9703 1.87187 9.59832Z" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
                  <button onclick="clickcart()" id="button">Add to cart</button>
            
              </div>
            
        </div>
        <!-- <div id="show_image_popup">
            <div class="close-btn-area">
                <button id="close-btn">X</button> 
            
            </div>
            <div id="image-show-area">
              <img id="large-image" src="" alt="">
            </div>
   </div> -->

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js" integrity="sha512-tHvUcUQYi35zApvAa5TNR3fNhBQkVtkmWKfacnpxmix4/VTGz1lGjIVyLMp7gLgAvg+aKJjnVKokXJNS5GZ+/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.2/gsap.min.js" integrity="sha512-gsEItzcNkWxfxHjr4BaEZAd9YuRWYjxnj7c/yukcZ0/nWehUb5TjJNyyv1ApCU2DFH/qgw+stFZHPOKnoQnIuQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./javascripts/3.js"></script>

</body>
</html>