<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Become a seller</title>
  <link rel="stylesheet" href="./stylesheets/addnewpro.css">

</head>
<body>

  <div id="main">
    <video autoplay loop muted src="./video/video.mp4"></video>
 
  <div id="card">
    <div id="left">
       
      <h2 id="B">BECOME A SELLER</h2>
      <h3 id="N">Name:-</h3>
      <h3 id="E">Email:-</h3>
      <h3 id="Num">Number:-</h3>
      <h3 id="A" >Address:-</h3>
      <h3 id="F" >Upload:-</h3>

      

      <form action="/submit" name="myForm" onsubmit="return validateForm()" method="post" enctype="multipart/form-data">
        <input id="file" type="file" class="hu" name="upload">
        <input id="onee"type="name" class="fom" name="name" >
        <input id="two"type="email" class="fom" name="email" >
        <input id="three"type="number" class="fom" name="number">
        <input id="four"type="address" class="fom" name="address" >
        
       
      
  
        <input id="hi"type="submit">
      </form>
    </div>
   
    
  </div>
  </div>
  <!-- <script src="./javascripts/seller.js"></script> -->
</body>
</html>