<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/menu.css">
</head>
<body>
    <div id="mainz">
        <div class="nav">
            <ul>
                <li id="l1"><a href="/" data-content="The beginning">Home</a></li>
                <li id="l2"><a href="/register" data-content="Curious?">Become a Seller</a></li>
                <li id="l3"><a href="https://instagram.com/indian__rugs_?igshid=ZDdkNTZiNTM=" data-content="I got game">Our Social Media</a></li>
                <li id="l4"><a href="/price/4" data-content="Only the finest">Pricing</a></li>
                <li id="l5"><a href="#" data-content="Don't hesitate">Contact</a></li>
           </ul>
        </div>
        <a id="btn2" href="/">Close</a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js" integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js" integrity="sha512-A64Nik4Ql7/W/PJk2RNOmVyC/Chobn5TY08CiKEX50Sdw+33WTOpPJ/63bfWPl0hxiRv1trPs5prKO8CpA7VNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./javascripts/menu.js"></script>
</body>
</html>