<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myaccount</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="sytile.css"> -->
 <style>
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

#main{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #dadada;
}

#upbox{
    position: relative;
    display: flex;
    align-items: center;
    position: absolute;
    top: 9vh;
    left: 8vw;
    width: 23vw;
    height: 7vh;
    background-color: #fff;
}
#imgbox{
    width: 6vh;
    height: 6vh;
    background-color: rgb(231, 226, 118);
    border-radius: 50%;
    margin-left: 30px;
}
#upbox>h3{
    font-size: 30px;
    margin-left: 15px;
}
#midbox{
    position: relative;
    position: absolute;
    top: 17vh;
    left: 8vw;
    width: 23vw;
    height: 75vh;
    background-color: #fff;
    font-family: Gilroy;
}
#order{
    display: flex;
    align-items: center;
    width: 23vw;
    height: 6vh;
    border-bottom: 2px solid #dadada;
}
.ri-arrow-up-circle-fill{
    font-size: 27px;
    margin-left: 20px;
    
}
.ri-skip-right-line{
    font-size: 20px;
    margin-left: 90px;
}
#order>h3{
    font-size: 18px;
    margin-left: 12px;
    font-family: "Gilroy";
    font-weight: 500;

}
#account{
    position: relative;
     position: absolute;
     width: 100%;
     height: 30%;
     font-family: "Gilroy";
     border-bottom: 2px solid #dadada;
     /* background-color: aqua; */
}
#account>h3{
     position: absolute;
     top: 5%;
     left: 15%;
     font-family: "Gilroy";
     font-weight: 500;
}
 .a{
    margin-top: 15%;
    margin-left: 15%;
    font-family: "Gilroy";
    font-weight: 500;
}
 .b{
    margin-top: 6%;
    margin-left: 15%;
    font-family: "Gilroy";
    font-weight: 500;
}
 .c{
    margin-top: 6%;
    margin-left: 15%;
    font-family: "Gilroy";
    font-weight: 500;
}


#payment{
    
    position: relative;
    position: absolute;
    top: 40%;
    width: 100%;
    height: 30%;
    font-family: "Gilroy";
    /* background-color: rgb(107, 42, 213); */
    border-bottom: 2px solid #dadada;
}
#rap{
    display: flex;
    position: absolute;
    left: 15%;
    top: 5%;

}
.ri-bank-card-fill{
    position: absolute;
    font-size: 20px;
    top: 10%;
    margin-left: 210px;
}

#rap>h3{
    /* position: absolute;
    top: 5%;
    left: 15%; */
    font-family: "Gilroy";
    font-weight: 400;
    

}
.m{
   margin-top: 15%;
   margin-left: 15%;
   font-family: "Gilroy";
   font-weight: 500;
}
.n{
   margin-top: 6%;
   margin-left: 15%;
   font-family: "Gilroy";
   font-weight: 500;
}
.o{
   margin-top: 6%;
   margin-left: 15%;
   font-family: "Gilroy";
   font-weight: 500;
}

#others{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 30%;

        /* background-color: aqua; */
}
#others>h3{
    position: absolute;
    top: 5%;
    left: 15%;
    font-family: "Gilroy";
    font-weight: 500;
}
.w{
   margin-top: 12%;
   margin-left: 15%;
   font-family: "Gilroy";
   font-weight: 500;
}
.x{
   margin-top: 4%;
   margin-left: 15%;
   font-family: "Gilroy";
   font-weight: 500;
}
.y{
   margin-top: 4%;
   margin-left: 15%;
   font-family: "Gilroy";
   font-weight: 500;
}
.z{
   margin-top: 4%;
   margin-left: 15%;
   font-family: "Gilroy";
   font-weight: 500;
}



#bottombox{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1vh;
    left: 8vw;
    width: 23vw;
    height: 6vh;
    background-color: #fff;
}
.ri-logout-circle-line{
    font-size: 27px;
    margin-left: 20px;
    
}

#bottombox>h3{
    font-size: 18px;
    margin-left: 12px;
    font-family: "Gilroy";
    font-weight: 500;

}
#right{
    position: absolute;
    bottom: 1vh;
    right: 8vw;
    width: 60vw;
    height: 90vh;
    background-color: #fff;
}
 </style>
</head>
<body>
     <div id="main">
        <div id="left">
            <div id="upbox">
                    <div id="imgbox"></div>
                 <h3>Hello</h3>
               
            </div>
            <div id="midbox">
                <div id="order">
                    <i class="ri-arrow-up-circle-fill"></i>
                    <h3> <a href="/myOrders" style="text-decoration:none; color:black;"> MY ORDER'S  </a></h3>
                    <i class="ri-skip-right-line"></i>
                </div>
                <div id="account">
                    <h3>ACCOUNT SETTINGS</h3>
                    <h4 class="a"> Profile Information </h4>
                    <h4 class="b"> Manage Addresses</h4>
                    <h4 class="c"> PAN Card Information</h4>
                </div>
                <div id="payment">
                    <div id="rap"> 
                    <i class="ri-bank-card-fill"></i>
                    <h3>PAYMENTS</h3>
                    </div>
                    <h4 class="m">Gift Cards₹0</h4>
                    <h4 class="n">Saved UPI</h4>
                    <h4 class="o"> Saved Cards</h4>
                </div>
                <div id="others">
                    <h3>OTHERS</h3>
                    <h4 class="w"> My Coupons</h4>
                    <h4 class="x">My Reviews & Ratings</h4>
                    <h4 class="y"> All Notifications</h4>
                    <h4 class="z">  My Wishlist</h4>
                </div>
                
            </div>
            <div id="bottombox">
                <i class="ri-logout-circle-line"></i>
                <form action="/logout" method="POST">
                    <button><h3>LOGOUT</h3></button>
                  </form>
              
                
            </div>
        </div>
        <div id="right"></div>
     </div> 

</body>
</html>