<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>brushwork</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/kursor@0.1.6/dist/kursor.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="..//stylesheets/style1.css">
</head>

<body>
    <div id="nav">
        <nav>
         <div onclick="javascript:window.location.href='/'" class="logo"></div>
         <a href="/">
           <div class="menu">
             <h3>Close</h3>
           </div>
         </a>
         <h1>Indian Rugs</h1>
        </nav>
     </div>
    
     
     <div id="section">
         <div id="left">
           
             <div id="bigbox">
                 <img src="https://images.unsplash.com/photo-1594847915592-2a7ef568e2b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1860&q=80">
            </div>
             </div>
             <div id="sml1" class="imgbox">
                <img src="https://m.media-amazon.com/images/I/A18tnpMtC-L._AC_SY741_.jpg" alt="">
             </div>
             <div id="sml2" class="imgbox">
                <img src="https://m.media-amazon.com/images/I/A12vrfB4TqL._AC_SX522_.jpg" alt="">
             </div>
             <div id="sml3" class="imgbox">
                <img src="https://m.media-amazon.com/images/I/71z2Fh7TbqL._AC_US100_.jpg" alt="">
             </div>
             <div id="sml4" class="imgbox">
                <img src="https://m.media-amazon.com/images/I/61oo+HeNR3L._AC_US100_.jpg" alt="">
             </div>
             <!-- <div id="imgbox">
                <img src="https://m.media-amazon.com/images/I/61oo+HeNR3L._AC_US100_.jpg" alt="">
             </div> -->
             
            
     
 
         
         <div id="right">
             <h1>Kamirri Rugs</h1>
             <h2>Size</h2>
             <div id="s1" class="sizebox">   <h4> ready to Ship  <br> 4x6 ft <br> 120x180 cm </h4></div>
             <div id="s2" class="sizebox"> <h4>  ready to ship   <p>4x6 ft  <br>   120x180 cm  </h4> </div>
             <div id="s3" class="sizebox">  <h4> Made to order   <br> 5x8 ft <br>  120x180 cm   </h4> </div>
       
                <h3>More From This Collection</h3>
                <div id="i1" class="otherImg">
                    <img src="https://d3o59fu9acgbkr.cloudfront.net/fit-in/300x400/prod-images/Headshot/Large/RCT_LCA-2352-0002.jpg" alt="">
                </div>
                <div id="i2" class="otherImg">
                    <img src="https://d3o59fu9acgbkr.cloudfront.net/fit-in/300x400/prod-images/Headshot/Large/RCT_TRC-138-0004.jpg" alt="">
                </div>
                 <div id="i3" class="otherImg">
                    <img src="https://d3o59fu9acgbkr.cloudfront.net/prod-images/Headshot/Large/RCT_TRC-626-0001.jpg" alt="">
                 </div>
                 <div id="i4" class="otherImg">
                    <img src="https://d3o59fu9acgbkr.cloudfront.net/fit-in/300x400/prod-images/Headshot/Large/RCT_LCA-202-0007.jpg" alt="">
                 </div>
                 <!-- <div id="i5" class="otherImg"></div> -->
                 <h4>₹4,490 - ₹,94,700
                  (Inclusive of all taxes)</h4>
    
                 <div class="buttons">
                    
                      <button onclick="clickcart()" id="button">Add to cart</button>
                
                  </div>
                  <!-- <div id="category">
                    <h2># Category</h2>
                    <h4>*Boho-Rugs</h4>
                    <h4>*Round-Rugs</h4>
                    <h4>*ColorFull-Rugs </h4>
                    
                  </div> -->
                
            </div>
    
            <!-- //***** -->
    
         
        </div>
    
 
     
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 
 
     <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js" integrity="sha512-tHvUcUQYi35zApvAa5TNR3fNhBQkVtkmWKfacnpxmix4/VTGz1lGjIVyLMp7gLgAvg+aKJjnVKokXJNS5GZ+/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.2/gsap.min.js" integrity="sha512-gsEItzcNkWxfxHjr4BaEZAd9YuRWYjxnj7c/yukcZ0/nWehUb5TjJNyyv1ApCU2DFH/qgw+stFZHPOKnoQnIuQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 
    <script src="https://cdn.jsdelivr.net/npm/kursor@0.1.6/dist/kursor.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="../javascripts/script1.js"></script>
</body>

</html>