<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="./stylesheets/register.css">
</head>

<body>
    <div class="shade">
        <div class="register-nav">
            <div class="brand-logo">
            
            </div>
            <a href="/">Back</a>
        </div>
        <div class="blackboard">
            <div action="/" class="form">
                <p>
                   <i><label>Name: </label></i>
                    <input type="text" />
                </p>
                <p>
                    <label>Email: </label>
                    <input type="text" />
                </p>
                <p>
                    <label>Phone: </label>
                    <input type="tel" />
                </p>
                <p>
                    <label>Shop Name: </label>
                    <input type="text" />
                </p>
                <p>
                    <label>Address: </label>
                    <textarea></textarea>
                </p>
                <p class="wipeout">
                   <a href="/submit"><input type="submit" value="Send" /> </a> 
                </p>
            </div>
        </div>
    </div>
</body>

</html>