<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit</title>
    <link rel="stylesheet" href="./stylesheets/submit.css">
</head>
<body>
    <div class="container-submit">
        <img id="logo" src="./images/rugs.png" alt="">
        <h1>Thankyou for submiting your response, <br>
            Our team will get back to you!
        </h1>
        <img src="./images/gif.gif" alt="">
       <a href="/"> <h4>Back to Home Page</h4></a>
    </div>
</body>
</html>